{
  "app": {
    "guid": "41c32bd0-1c51-490e-9326-771177ac2003"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": true
  },
  "security": {
    "token": "MmZlMmRhZmYtYTg5Zi00OTcwLWE5OWYtMDI2OWEzODNkNjJm",
    "tokenExpiration": 3600
  },
  "auth": {
    "type": "internal",
    "autoSignUp": false
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}